
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body {
    font-family:'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

/* Navigation */

  /* Navigation */
  nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
  }
  nav ul {
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }


h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
}

#landing {
    background: #fff;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 65vh;
    justify-content: center;  /**it justify from left to right to center**/
    align-items: center;  /**it justify from top to button**/
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}
.icons {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.icon {
    color: #888;
    transition: all ease-in-out 0.5s;
}

.icon-padding {
    padding-left: 10px;
}

.icon:hover {
    color: black;
 }
#landing-img{
   background: url('../img/showcases/showcase4.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 50vh;
   flex: 0 1 60vw;
   margin: 0; 

}
.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background-color: #f4f4f4f4;
}

#header {
    padding: 1rem;
    text-align: center;
    background: #333;
    color: #fff
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}
.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0rem;
}

/* Screen size 500px and up  */

@media (min-width: 500px) {
    #landing {
        display: flex;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-img {
        height: 100vh;
    }

    
}

/* Screen Sizes 700 and Up */

@media (min-width: 700px) {
    .btn {
        padding: 1rem 3rem;
    }
}


/* Navigation small screen */
@media screen and (max-width: 580px) {
    .hide-on-small {
      display: none;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: '|||';
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .cf:before,
  .cf:after {
    content: '';
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }